.contact-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.message{
    height: 20vh;
    width: 50vw;
    border-radius: 5px;
    margin: 10px;
}

.name, .email{
    height:3vh;
    border-radius: 10px;
    margin: 5px;
}

.email{
    width: 30vw;
}

button{
    font-size:large;
}

.header-container{
    margin-top: -20px;
    height: 0px;
    position: relative;
    top:0;
}

li{
    margin:20px;
   color: white;
}

#search{
    display: flex;
    justify-content: center;
    align-content: center;
   
    background-image: url('nighthiking.webp');
    background-repeat: no-repeat;
    background-size: cover;

}


#searchInput{
    border-radius: 20px;
    height: 9.5vh;
    width: 80vh;
    font-size: 20px;
    border: none;
}

#searchpageInput{
    border-radius: 20px;
    height: 9.5vh;
    width: 80vh;
    font-size: 20px;
    border: none;
    margin-top: 20%;
}


#searchInput:focus-visible{
    outline: none;
}

#pg-search-button{
    color: red;
    height: 5vh;
    font-size: 200%;
    border-radius: 20px;
    border:none;
}


.search-page{
    margin-top: -10%;
}

.search-page-bar{
    margin-left: 20%;
    margin-right: 20%;
}

.searchCont{
    border: none;
    height: 11vh;
    width: 100vh;
    border-radius: 30px;
    background-color: white;
    margin-top: 28vh;

}

#search-button{
    font-size: 250%;
    color: red;
}


#contact{
    color: #dee3e4;
    font-weight: bold;

}


input, textarea{
    opacity: 80%;

}

.Home{
    z-index: 0;
}

.search-page{
    background-color: #485a84;

    
}

/*#485a84
#403f6b

*/

.results-container{
    height: 200vh;

}


.card{
    border:  3px solid black;
    width: 10vw;
    height: 10vh;
}

.carousel-wrapper{
    margin-top: 0px;
}


.card-img{
    height: 190%;
    width: 100%;
}

.Home{
   background-color: black;
}

.submit:hover{
    background-color: #485a84;
}

.about{
    color:white;
}

.about:hover{
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 30px white,
    0 0 40px white,
    0 0 70px white,
    0 0 80px white,
    0 0 100px white,
    0 0 150px white;
    color: white;
}
.contact:hover{
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 30px white,
    0 0 40px white,
    0 0 70px white,
    0 0 80px white,
    0 0 100px white,
    0 0 150px white;
    color: white;
}

.featured:hover{
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 30px white,
    0 0 40px white,
    0 0 70px white,
    0 0 80px white,
    0 0 100px white,
    0 0 150px white;
    color: white;
}


.footer-area{
    margin-top: 10%;
}

.card-search{
    display: inline-block;
    margin: 10px;
}


.form{
    margin: 20px;
}


p, .card-search, .Home{
    font-family: 'IM Fell English', serif;
font-family: 'Montserrat', sans-serif;
}